<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js">
    <link rel="stylesheet" href="/assets/css/style.css">

    <title>
        <%- header %>
    </title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/prod/dashboard">Home</a>
        <a class="active" style="width: auto;" href="/prod/addProduct">Add Products</a>
        <a class="logout-btn" href="/logout"><input type="button" value="Logout" id="logout" class="btn btn-secondary"></a>
        <% if(header==='Registration' || header==='login' ){ %>
            <% }else{ %>
                <h4 id="welcome">Welcome: <%- name %></h4>
            <% } %>
    </div>
</body>

</html>