.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .login-btn{
    position:relative;
    left: 8rem;
  }
  .logout-btn{
    position:relative;
    
    left: 69rem;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
    width:7rem;
    height: 66px;
  }
  #login{
    position:relative;
    left:62rem;
  }
  #welcome{
    position: relative;
    left: 39rem;
    top: 17px;
    color: white;
  }